# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Output files from the app
output/
*.log
*.gif
*.png

# IDE / Editor specific
.vscode/
.idea/
/scripts/__pycache__
/scripts/utils/__pycache__
/scripts/workflows/__pycache__
/venv/Lib/site-packages/_distutils_hack/__pycache__
/scripts/core/__pycache__
/scripts/utils
