# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Output files from the app
output/
*.log
*.gif

# IDE / Editor specific
.vscode/
.idea/

# Mod file and translate file
/source_mod/
/my_translation/

# Do NOT ignore the folder
!/source_mod/.gitkeep
!/my_translation/.gitkeep