/* scripts/react-ui/src/themes/index.css */

/*
 * This file serves as a central hub for importing all theme-related CSS files.
 * To add a new theme's stylesheet, simply add a new @import statement here.
 */

@import './victorian.css';
@import './byzantine.css';
@import './scifi.css';
@import './wwii.css';
@import './medieval.css';